{% extends 'second.html' %}

{% block content %}


    <div>


        <form action="{% url 'register' %}" method="POST">
            <div class="BackButton">
                <a href="{% url 'landingPage' %}">&#10094; Back</a>
            </div>
            <div>
                <h3>Account Register</h3>
                <p>Create a new athlete account</p>
            </div>
            {% csrf_token %}

            {% for field in form %}

            <!-- Input:Text -->
            <div>
                <label for="formInput#text">{{ field.label }}: </label>
                {{ field }}

                <!-- {% if field.help_text %}
                <small>{{ field.help_text }}</small>
                {% endif %} -->

                {% for error in field.errors %}
                <p style="color: red;">{{ error }}</p>
                {% endfor %}
            </div>

            {% endfor %}

            <div>
                <input class="btn btn--sub btn--lg" type="submit" value="Sign up" />
            </div>
            <div class="auth__alternative">
                <p>Already have an Account?</p>
                <a href="{% url 'login' %}">Log In</a>
            </div>
        </form>

    </div>

{% endblock content %}